<div class="row">
	<div class="col-md-3">
		<md-input-container>
			<label>Name</label>
			<input ng-model="party.name">
		</md-input-container>
	</div>
	<div class="col-md-4">
		<md-input-container>
			<label>Description</label>
			<input ng-model="party.description">
		</md-input-container>
	</div>
	<div class="col-md-1">
        <md-checkbox ng-model="newParty.public" aria-label="Public">
          Public
        </md-checkbox>
      </div>
	<div class="col-md-4">
		<md-button ng-click="save()" class="md-raised md-primary">Save</md-button>
		<md-button ng-click="reset()" class="md-raised md-warn">Reset form</md-button>
		<a ui-sref="parties">Cancel</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul>
		  Users:
		  <li ng-repeat="user in users">
		    <div>{{ user.emails[0].address }}</div>
		  </li>
		</ul>
	</div>
</div>

 
